body{
  background-image: url("../img/stardust.png");
}

h1{
  color: yellow;
  text-align: center;
  text-shadow: 3px 3px 3px #FFCB00;
}


h2{
  background-color: black;
  color: white;
  font-style: oblique;
}

h1 span{
  border-bottom: 3px solid black;
}

a{
  font-size: 20px;
  color: #FF6600;
}

.contenedor{
  padding-top: 50px;
  padding-left: 200px;
  padding-right: 200px;
  color: white;
}

.texto{
  text-align: justify;
  font-style: italic;
  font-size: 20px;
  color: white;
}
.codigo{
  text-align: justify;
  font-style: italic;
  font-size: 20px;
  color: yellow;
}

.pimagen img{
width: 300px;

}

table{
  border: 2px white solid;
  border-collapse: collapse;
}

td{
  border: 2px white solid;
  border-collapse: collapse;
}


.galeria img{
  width: 300px;
}