body{
    background-image: url("resources/green-fibers.png");
    color: wheat;
    font-size: 14pt;
}

h1,h2, h3{
    text-align: center;    
}

h2{
    font-style: italic;
}

.cita{
    margin: 0 auto;
}

p{
    text-align: justify;
}

div .code{
  font: 70%  monospace;
}

.galeria{
    margin: 0 auto;
}

.disclam{
    font-size: 12pt;
}