
h1{
    font-size: 26pt;
    text-align: center;
    font-style: italic;
}

h2{
    font-size: 16pt;
    text-align: center;
}

body{
    background-image: url(recursos/green-fibers.png);
    color: wheat;
}

p{
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
    text-align: justify;
    color: aliceblue;
    font-size: 14pt;
}

a{
    
    color: aquamarine;
    text-align: center;
}

.enlaces{
    width: 330px;
    border: 2px white solid;
    margin: 0 auto;
}